absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
chardet
charset-normalizer
click
colorama
contourpy
cycler
DataProperty
datasets
dill
evaluate
filelock
fonttools
frozenlist
fsspec
huggingface-hub
idna
Jinja2
joblib
jsonlines
kiwisolver
lm_eval
lxml
MarkupSafe
matplotlib
mbstrdecoder
more-itertools
mpmath
multidict
multiprocess
networkx
nltk
numexpr
numpy
packaging
pandas
pathvalidate
peft
pillow
pip
portalocker
propcache
protobuf
psutil
pyarrow
pybind11
pyparsing
pytablewriter
python-dateutil
PyYAML
regex
requests
rouge_score
sacrebleu
safetensors
scikit-learn
scipy
sentencepiece
setuptools
six
sqlitedict
sympy
tabledata
tabulate
tcolorpy
threadpoolctl
tokenizers
torch == 2.5.0
torchaudio
torchvision
tqdm
tqdm-multiprocess
transformers == 4.48.3
typepy
typing_extensions
tzdata
urllib3
word2number
xxhash
yarl
zstandard
